---
layout: page
title: "归档"
text: "文章归档"
order: 1
---

{% assign my_posts = site.posts | group_by_exp:"post","post.date | date:'%Y %m'" %}
<div class="row">
    {% for mp in my_posts %}
    <div class="col-md-8 col-md-offset-2">
        <h3>{{mp.name}}月</h3>
        <ul>
            {% for mpi in mp.items %}
                <li>
                    <a href="{{mpi.url | prepend: site.baseurl}}">{{mpi.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
