---
layout: page 
title: "首页"
text: 志不立，天下无可成之事，虽百工技艺，未有不本于志者。
permalink: /
order: 0
---

<div id="content" class="row">
    <div id="primary" class="col-md-8 col-md-offset-2">
      <main id="main" class="site-main" role="main">

        {% for post in site.posts%}
        <article id="post-24" class="post-24 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-demo tag-post">
          <header class="entry-header">
            <h2 class="entry-title">
              <a href="{{post.url | prepend: site.baseurl }}" rel="bookmark">{{post.title}}</a>
            </h2>
            <div class="entry-meta">
              <span class="posted-on">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <time class="entry-date published updated" >{{post.date | date:'%d,%m %Y'}}</time>
              </span>
              <span class="byline">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="author vcard">
                  {{post.author | default:site.author}}
                </span>
              </span>
            </div>
            <!-- .entry-meta -->
          </header>
          <!-- .entry-header -->

          <div class="entry-content">
            <p>
              {{post.description}}
            </p>
            <div class="more-link">
              <a class="btn btn-default" href="{{post.url | prepend: site.baseurl }}">查看更多</a>
            </div>
          </div>
          <!-- .entry-content -->

          <footer class="entry-footer">
            <span class="tags-links">
              <i class="fa fa-tags" aria-hidden="true"></i>
              {% for tag in post.tags %}
                <a href="{{ site.baseurl }}/tags#{{tag}}">{{tag}}</a>
              {% endfor %}
            </span>
          </footer>
          <!-- .entry-footer -->
        </article>
        {% endfor %}
      </main>
      <!-- #main -->
    </div>
    <!-- #primary -->

  </div>