<footer class="footer footer-transparent">
  <div class="container">
    <div class="social-area pull-right">
      {% for social in site.socials %}
      <a target="_blank" class="btn btn-social btn-just-icon" href="{{social.url}}">
        <i class="fa fa-{{social.icon}}"></i>
      </a>
      {% endfor %}
    </div>
    <div class="copyright">
      ©Copyright 2017 by <a href="http://braginteractive.com" rel="designer" target="_blank">{{site.author}}</a>. All Rights Reserved.
      | Creative from <a href="http://braginteractive.com" rel="designer" target="_blank">Brad Williams</a>.
      <!-- <php $copyright_text = get_theme_mod( 'copyright_text', '' ); 
      if ($copyright_text != '') {
        echo $copyright_text;
      } else {
        printf( esc_html__( 'Theme: %1$s by %2$s.', 'mvpwp' ), 'mvpwp', '<a href="http://braginteractive.com" rel="designer">Brad Williams</a>' );
      }
     ?> -->
    </div>
  </div>
</footer>