<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//s.w.org">
  <!-- <link rel="alternate" type="application/rss+xml" title="MaterialKitWP » Feed" href="https://mvpwp.com/demo/materialkitwp/feed/">
  <link rel="alternate" type="application/rss+xml" title="MaterialKitWP » Comments Feed" href="https://mvpwp.com/demo/materialkitwp/comments/feed/"> -->
  <link rel="stylesheet" id="mvpwp-material-icons-css" href="//fonts.googleapis.com/icon?family=Material+Icons&amp;ver=1.0.0" type="text/css" media="all">
  <link rel="stylesheet" id="mvpwp-roboto-font-css" href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700&amp;ver=1.0.0" type="text/css" media="all">
  <link rel="stylesheet" id="mvpwp-style-css" href="{{ site.baseurl }}/public/css/style.css" type="text/css" media="all">
</head>