<!DOCTYPE html>
<html>

{% include head.html %}

<body class="">
  <div id="page" class="site">

    {% include header.html %}

    <div class="wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/material.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/nouislider.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/material-kit.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/dist/scripts.min.js"></script>
  </div>
</body>

</html>